<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <script
      src="https://kit.fontawesome.com/825a35d965.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="https://images.prismic.io/wdr-test-icti/3f9387b0e53fb535624c3a559964e5f3871345ac_connect-logo3x.png"
    />
    <link href="./css/main.css" rel="stylesheet" />
    <link href="./css/forum.css" rel="stylesheet" />
    <title>SPConnect</title>
  </head>
  <body>
    <div id="main" class="max-w-md mx-auto relative">
      <nav class="bg-[#A6E3E9] border-gray-200 sticky">
        <div
          class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 h-[70px]"
        >
          <a href="/" class="flex items-center gap-2">
            <i class="fa-solid fa-house text-xl"></i>
            <span class="self-center text-2xl font-bold whitespace-nowrap"
              >SP Forum</span
            >
          </a>
        </div>
      </nav>
      <div
        class="max-h-[calc(100svh-70px)] p-5 flex flex-col overflow-y-auto gap-5"
        id="posts"
      ></div>
      <div class="absolute bottom-[20px] right-[20px]" id="test">
        <a
          href="/post"
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium text-sm p-2 aspect-square w-10 flex items-center justify-center leading-[0px] focus:outline-none rounded-full"
        >
          +
        </a>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      if (!(localStorage.getItem("name") && localStorage.getItem("userid"))) {
        window.location.href = "/start";
      }

      function likePost(postID) {
        console.log(postID);
        axios
          .post(`/api/post/${postID}`, {
            id: localStorage.getItem("userid"),
          })
          .then(({ data }) => {
            console.log(data);
            window.location.reload();
          })
          .catch((err) => {
            if (err) {
              console.log(err);
            }
          });
      }

      function formatDateTime(date) {
        return `${formatDate(date)} ${formatAMPM(date)}`;
      }

      function formatDate(date) {
        let day = date.getDate();
        let month = date.getMonth();
        let year = date.getFullYear();
        return `${day}/${month}/${year}`;
      }

      function formatAMPM(date) {
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? "PM" : "AM";
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? "0" + minutes : minutes;
        var strTime = hours + ":" + minutes + " " + ampm;
        return strTime;
      }

      axios
        .get("/api/post")
        .then(({ data }) => {
          console.log(data);
          for (let post of data["post"]) {
            console.log(post);
            let likeArr = data["likes"].filter((e) => {
              return e["postID"] == post["postID"];
            });
            let isUserLike =
              likeArr.filter((e) => {
                return e.userID == localStorage.getItem("userid");
              }).length > 0;
            console.log(isUserLike);
            document.getElementById("posts").innerHTML += `
            <div
          class="border-2 flex-col flex gap-2 border-gray-300 p-3 rounded-lg"
        >
          <div class="flex justify-between items-center">
            <div class="flex gap-2 items-center">
              <img src="https://img.freepik.com/free-icon/user_318-563642.jpg?w=360" class="w-7 aspect-square"/>
              <p class="text-sm">${post["user"]["name"]}</p>
            </div>
            <time class="text-[0.5rem]">${formatDateTime(
              new Date(post["created_at"])
            )}</time>
          </div>
          <div class="flex flex-col gap-2 mb-2">
            <h1 class="font-bold text-lg">${post["post"]["title"]}</h1>
            <p>${post["post"]["content"]}</p>
          </div>
          <div class="flex justify-around">
            <button class="flex gap-2 items-center" onclick="likePost(${
              post["postID"]
            })">
              <i class="fa-${
                isUserLike ? "solid" : "regular"
              } fa-heart text-xl"></i>
              <span class="text-xs">${likeArr.length}</span>
            </button>
            <button class="flex gap-2 items-center">
              <i class="fa-regular fa-comment-dots text-xl"></i>
              <span class="text-xs">0</span>
            </button>
            <button class="flex gap-2 items-center">
              <i class="fa-solid fa-share text-xl"></i>
              <span class="text-xs">0</span>
            </button>
          </div>
        </div>`;
          }
        })
        .catch((err) => {
          if (err) {
            console.log(err);
          }
        });
    </script>
  </body>
</html>
