<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <script
      src="https://kit.fontawesome.com/825a35d965.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="https://images.prismic.io/wdr-test-icti/3f9387b0e53fb535624c3a559964e5f3871345ac_connect-logo3x.png" />
    <link href="./css/task.css" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>SPConnect</title>
  </head>
  <body>
    <div id="main" class="max-w-md mx-auto relative">
      <nav class="bg-[#A6E3E9] border-gray-200 sticky">
        <div
          class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 h-[70px]"
        >
          <a href="/" class="flex items-center gap-2">
            <i class="fa-solid fa-house text-xl"></i>
            <span class="self-center text-2xl font-bold whitespace-nowrap"
              >Task</span
            >
          </a>
        </div>
      </nav>
      <h1 class="text-xl font-bold text-center underline pt-5 pb-3">
        Task List
      </h1>
      <div
        class="max-h-[calc(100svh-70px-70px-60px)] min-h-[calc(100svh-70px-70px-60px)] overflow-y-auto px-5 flex flex-col"
        id="tasks"
      ></div>
      <div class="pt-3 mx-auto w-full flex justify-center">
        <a
          href="/leaderboard"
          class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-800"
        >
          Visit Leaderboard
        </a>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      if (!(localStorage.getItem("name") && localStorage.getItem("userid"))) {
        window.location.href = "/start";
      }

      function updateTask(id) {
        console.log(id);
        axios
          .post(`/api/completeTask/${id}`, {
            id: localStorage.getItem("userid"),
          })
          .then(({ data }) => {
            console.log(data);
            window.location.reload();
          })
          .catch((err) => {
            if (err) {
              console.log(err);
            }
          });
      }

      axios
        .post("/api/task", { id: localStorage.getItem("userid") })
        .then(({ data }) => {
          for (let task of data) {
            console.log(data);
            if (task["user_task"].length > 0) {
              continue;
            }
            document.getElementById(
              "tasks"
            ).innerHTML += `<button class="flex justify-between items-center text-start task px-2 py-4 hover:bg-slate-100 " onclick="updateTask(${task.id})">
          <div class="flex flex-col justify-start items-start min-w-[calc(100%-50px)] max-w-[calc(100%-50px)]">
            <p class="font-bold  max-w-full ">${task.name}</p>
            <p class="text-xs truncate max-w-full">${task.description}</p>
          </div>
          <p class="text-xl font-bold w-[50px] flex justify-end gap-1"><span>+</span><span>${task.points}</span></p>
        </button>`;
          }
          if (document.getElementById("tasks").children.length == 0) {
            document.getElementById(
              "tasks"
            ).innerHTML += `<div class="text-2xl font-bold text-center py-5">No Task Available</div>`;
          }
        })
        .catch((err) => {
          if (err) {
            console.log(err);
          }
        });
    </script>
  </body>
</html>
